.compare-width-img {
    width: 20px;
    height: 20px;
}
.section--padding {
    padding-top: 60px;
    background-color: #f0f5f8;
}
.products-os_h1 {
    font-size: 40px;
}
.Future-comparison {
    padding-bottom: 30px;
    
    
}
.compare-table {
    padding: 15px 0;
}
.table-b {
    table {
        border: 1px solid #5e5e5e;
        border-collapse: collapse;
        margin-bottom: 10px;
        margin: 20px 0;
    }
    .category_link-more {
        font-size: 14px;
        font-weight: bold;
    }
    .TableLeftCol {
        text-align: left;
    }
    td, th {
        font-size: 14px;
        height: 30px;
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BBBBBB;
        border-right: 1px solid #BBBBBB;
        color: #5e5e5e;
        padding: 7px;
    }
    .table--pad {
        padding: 20px;
    }
}