.header {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    transition: all 0.4s linear;
    &--bc {
        background-color: #3c6725;;
    }
}
.header_logo {
    width: 121px;
}
.bg-light {
    background: transparent;
}
#main_menu {
    padding: 0;
}
.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#main_menu nav {
    padding: 0px 30px;
}
.nav-link {
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    transition: all 0.1s linear;
    &:hover {
        background: rgba(183, 191, 194, 0.5);
    }
}
.navbar-nav {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 30px;
}
#main_menu li a {
    font-family: Open Sans;
    font-style: normal;
    line-height: normal;
    font-size: 15px;
    color: #ffffff;
    padding: 23px 15px;
    text-shadow: none !important;
    /* border-radius: 3px; */
    letter-spacing: 0.03em;
}
#search_form {
    position: absolute;
    right: 21px;
    height: 66px;
    padding-top: 14px;
    padding-left: 20px;
} 
#main_menu .left-nav-bar li a {
    padding: 9px 7px;
    display: inline-block;
}
.icon_phone {
    background-image: url(../../img/call.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
#main_menu .signbutton {
    border-radius: 3px;
    padding: 5px 14px !important;
    margin-top: 4px;
    margin-left: 3px;
    font-size: 14px;
    
    transition: all 0.1s linear;
    border: 1px solid rgba(255, 255, 255, 0.25);
    &:hover {
        background: #F48A18;
        text-decoration: none;
    }
}
.icon_cart {
    background-image: url(../../img/icon_cart.png);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.icon_search {
    background-image: url(../../img/icon-search.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    outline: none;
    height: 20px;
    border: none;
}
#main_menu form input {
    display: none;
}
#main_menu form { 
    padding-top: 9px;
    border-radius: 4px;
    margin-left: 15px;
    background: transparent;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#main_menu button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#search_form input.open {
    padding-left: 8px;
    display: block;
    margin-right: -22px;
    width: 300px;
    border-radius: 4px;
    background-position: center right 10px;
    z-index: 100;
    padding-right: 20px;
}
#main_menu form input {
    width: 0px;
    transition: all 0.2s ease;
    font-size: 0.8rem;
    color: #fff;
}
.search_form--center {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -13px;
   
    
}
.search_input {
    display: none;
    border: none;
    padding: 7px 29px 7px 10px;
    outline: none;
    border-radius: 3px;
    background-color: #569236;
    color: white;
    font-size: 14px;
    margin-right: -25px!important;
}

.search_input::placeholder {
    color: rgb(214, 214, 214); 
} 
.search_input::-webkit-search-decoration,
.search_input::-webkit-search-cancel-button,
.search_input::-webkit-search-results-button,
.search_input::-webkit-search-results-decoration { display: none; }

.open-search {
    display: flex!important;
}